#formButton {
  margin-top: 20px;
}

#surveycolumn {
  margin-left: 35%;
}

#jumbo-background {
  background-image: url(../img/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control {
  background-color: black;
  color: white;
}

option {
  color: aquamarine;
}

label {
  color: rgb(48, 255, 41);
}
body {
  background-color: black;
}

#jumbo-text {
  color: rgb(215, 255, 217);
}

#cSharp {
  display: none;
}

#javaScript {
  display: none;
}

#python {
  display: none;
}

#allTheAbove {
  display: none;
}

#or {
  display: none;
}

#cPlusPlus {
  display: none;
}