#formButton {
  margin-top: 20px;
}

#surveycolumn {
  margin-left: 35%;
}

#cSharp {
  display: none;
}

#javaScript {
  display: none;
}

#python {
  display: none;
}

#allTheAbove {
  display: none;
}

#or {
  display: none;
}